.auth-form__sex-choice{
    width: 41%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0 12px;
}

.auth-form__sex-choice input{
    margin-right: 4px;
}

.auth-form__sex-choice label{
    font-size: 14px;
    color: var(--text-color);
}

